
$primary-normal: #06121e;
$primary-light: #0c2135;
$primary-dark: #040f1a;

$secondary-normal: #090d11;
$secondary-light: #1a1f25;
$secondary-dark: #06090c;

$black-normal: #232224;
$black-light: #353436;
$black-dark: #161617;

$white-normal: #fff;
$white-light: #fefbff;
$white-dark: #edeaef;

$red-normal: #d94140;
$red-light: #d34040;
$red-dark: #b42b2b;